body {
  padding-top: 50px;
  margin-left: 2%;
  margin-right: 2%;
}

.sidebar-left {
  position: fixed;
  top: 10;
  left: 10;
  background-color:#0c2151;
  width: 15%;
  height: 100%;
  padding: 20px 0;
  border-radius: 3px;
}

.sidebar-left a.company-logo {
  display: block;
  width: 76px;
  height: 76px;
  margin: 0 auto;
}

.sidebar-left .sidebar-links {
  margin: 20px auto;
}

.sidebar-left .sidebar-links a {
  display: block;
  text-decoration: none;
  margin: 0 auto 5px auto;
  padding: 20px;
  background-color: #0c2151;
  text-align: left;
  color: white;
}


.sidebar-left .sidebar-links a:hover{
  background-color: rgba(52, 75, 127, 0.5);
    text-decoration: none;
}

/* Making the sidebar responsive */

@media (max-width: 900px) {

  .sidebar-left {
    width: auto;
    height: auto;
    position: inherit;
    padding: 20px 0 0;
  }

  .sidebar-left .sidebar-links {
    text-align: center;
    margin: 20px auto 0;
  }

  .sidebar-left .sidebar-links a {
    display: inline-block;
    width: 100px;
    margin: 0;
    padding: 14px 0;
    border-left: none;
    text-align: center;
  }

}

/* Mobile phone layout */

@media (max-width: 450px) {

  .sidebar-left {
    padding: 20px 0;
  }

  .sidebar-left .sidebar-links {
    text-align: center;
    margin: 20px auto 0;
  }

  .sidebar-left .sidebar-links a {
    display: block;
    max-width: 240px;
    width: auto;
    vertical-align: middle;
    text-align: left;
    margin: 0 auto 5px;
    padding: 10px 25px;
    border-top: none;

  }

  .sidebar-left .sidebar-links a i.fa {
    display: inline-block;
    font-size: 20px;
    width: 20px;
    margin: 0 20px 0 0;
    vertical-align: middle;
  }

}


.glyphicon{
  font-size: 12px;
}