body{
	background-color: #0c2151;
	padding-top: 190px;
  padding-bottom: 40px;
}

.navbar{
	background-color: #0c2151;
  border-color: #0c2151;
}

.form-signin {
  max-width: 450px;
  padding: 50px;
  margin: -10px auto;
  background-color: rgba(153, 185, 228, 0.3);
  border: 1px solid #ffff00;
  border-radius: 2px;
}
.form-signin,
.form-signin  {
  margin-bottom: 10px;
  text-align: center;
}

.form-signin-heading{
	margin-bottom: 50px;
  color: white;
}

.form-signin {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;

}
.form-signin input[type="password"] {
  margin-bottom: 10px;
 }

.btn-default > a{
  text-decoration: none;
  color:black;
}

.forgotPassword a {
  margin-top: 3%;
  text-align: left;
  color: white;
}