{% load staticfiles %}

<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<meta character="utf-8">	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/logo_unipe.png' %}">
    
    {% block title %} <title>Controle de Envelope</title> {% endblock %}
	
	<!--chamando bootstrap-->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!--chamando stylesheet-->
	{% block css %} <link rel="stylesheet" href="{% static 'css/style_cadastro.css' %}"> {% endblock %}

</head>

<body>
	<aside class="sidebar-left">

    <a alt="UNIPÊ | Centro Universitário de João Pessoa" title="UNIPÊ | Centro Universitário de João Pessoa" 
    class="company-logo" href="{% url 'envelope.views.index' %}"><img src="{% static 'images/logo-unipe.png' %}"></a>

    <div class="sidebar-links">
      <a  href="{% url 'envelope.views.cadastro' %}">Cadastrar Professor</a>
      <a  href="{% url 'envelope.views.envelope' %}">Inserir Envelope</a>
      <a  href="{% url 'envelope.views.gerenciarenvelope' %}">Gerenciar Envelope</a>
      <a  href="{% url 'envelope.views.gerarrelatorio' %}">Gerar Relatório</a>
      <a  href="{% url 'django.contrib.auth.views.login' %}">Sair</a>
    </div>

  </aside>

    {% block content %}
    
    {% endblock %}
    
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    -->
    
    {% block jquery%}
    
    {% endblock %}
	<!--chamando o js-->
	{% block js %}<script src="{% static 'js/bootstrap.js' %}"></script> {% endblock %}

</body>
</html>