{% extends 'envelope/base.html' %}
{% load staticfiles %}

    {% block title %} <title>Cadastro</title> {% endblock %}
    
    {% block css %} <link rel="stylesheet" href="{% static 'css/style_gerar_relatorio.css' %}"> {% endblock %}
    
      {% block content %}
      
      <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main">
          <h2 class="sub-header">Cadastrar Professor</h2>
          
          <form class="form-horizontal" method="post">
          {% csrf_token %}  
              
              {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
              
              {% for field in professorForm %}
              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">{{ field.label_tag }}</label>
                <div class="col-sm-10">
                  {{ field }}
                  {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                 {% endif %}
                </div>
              </div>
              {% endfor %}

              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Curso</label>
                <div class="col-sm-9">
                  <select class="form-control" name="id_curso">
                    {% for curso in cursos %}
                        <option value = "{{curso.curso_id}}">{{curso.nome}}</option>
                    {% endfor %}
                  </select>
                </div>
                <button class="btn btn-default" type="button">
                      <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
              
              {% for field in cursoForm %}
              <div class="form-group">
                  <label for="text" class="col-sm-2 control-label">{{ field.label_tag }}</label>
                  <div class="col-sm-9">
                    {{ field }}
                  </div>
                  <button class="btn btn-default" type="button">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
              </div>
              {% endfor %}
              
              
              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Disciplina</label>
                <div class="col-sm-9">
                  <select class="form-control" name="id_disciplina">
                    {% for disciplina in disciplinas %}
                        <option value='{{disciplina.disciplina_id}}'>{{disciplina.nome}}</option>
                    {% endfor %}
                    
                    {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                  </select>
                </div>
                <button class="btn btn-default" type="button">
                      <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>

              {% for field in disciplinaForm %}  <!-- PERIODO-->
              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">{{ field.label_tag }}</label>
                <div class="col-sm-9">
                  {{ field }}
                  
                  {% if field.errors %}
                  <ul class="errorlist">
                      {% for error in field.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
                  {% endif %}
                </div>
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
              {% endfor %}
              
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" role="button">Cadastrar</button>
                  <button type="redefine" class="btn btn-default" role="button">Limpar Tudo</button>
                </div>
              </div>
          </form>
      </div>
    </div>
    {% endblock %}