{% extends 'envelope/base.html' %}
{% load staticfiles %}

  {% block title %} <title>Gerenciar Status</title> {% endblock %}
  
  {% block css %} <link rel="stylesheet" href="{% static 'css/style_conf_envelope.css' %}"> {% endblock %}    
    
  {% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main">
    <h2 class="sub-header">Confirmar Novo Envelope</h2>
    
    <form class="form-horizontal">

        <div class="form-group">
          <label for="text" class="col-sm-2 control-label">Nome do Professor</label>
          <div class="col-sm-10">
            <p class="form-control-static">Professor 1</p>
          </div>
        </div>

        <div class="form-group">
          <label for="text" class="col-sm-2 control-label">Curso</label>
          <div class="col-sm-10">
            <p class="form-control-static">Curso 4</p>
          </div>
        </div>

        <div class="form-group">
          <label for="text" class="col-sm-2 control-label">Disciplina</label>
          <div class="col-sm-10">
            <p class="form-control-static">Disciplina 5</p>
          </div>
        </div>

        <div class="form-group">
          <label for="text" class="col-sm-2 control-label">Período</label>
          <div class="col-sm-10">
            <p class="form-control-static">Período 3</p>
          </div>
        </div>

        <div class="form-group">
          <label for="text" class="col-sm-2 control-label">Turma</label>
          <div class="col-sm-10">
            <p class="form-control-static">Turma B</p>
          </div>
        </div>

        <div class="form-group">
          <label for="text" class="col-sm-2 control-label">Estágio</label>
          <div class="col-sm-10">
            <p class="form-control-static">Estágio 2</p>
          </div>
        </div>

        <div class="form-group">
          <label for="text" class="col-sm-2 control-label">Data da Retirada do Envelope</label>
          <div class="col-sm-10">
            <p class="form-control-static">28/02/2016</p>
          </div>
        </div>

        <div class="form-group">
          <label for="text" class="col-sm-2 control-label">Data da Prova</label>
          <div class="col-sm-10">
            <p class="form-control-static">28/02/2016</p>
          </div>
        </div>

        <div class="form-group">
          <label for="text" class="col-sm-2 control-label">Data Limite para Entrega</label>
          <div class="col-sm-10">
            <p class="form-control-static">07/03/2016</p>
          </div>
        </div>  

        <div class="form-group">
          <label for="text" class="col-sm-2 control-label">Data da Entrega</label>
          <div class="col-sm-10">
            <p class="form-control-static">   /  /    </p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <a class="btn btn-default" href="#" role="button">Salvar</a>
            <a class="btn btn-default" href="#" role="button">Editar</a>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm">Excluir</button>

            <!-- inicio da modal-->
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Excluir Envelope</h4>
                  </div>
                  <div class="modal-body">
                    <p>Tem certeza que deseja excluir este envelope?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-default">Excluir</button>
                </div>
              </div>
            </div>
          </div>    <!-- fim da modal-->
          </div>
        </div>    
    </form>
  </div>
 {% endblock %}