{% extends 'envelope/base.html' %}
{% load staticfiles %}

  {% block title %} <title>Confirmar Cadastro</title> {% endblock %}
  
  {% block css %} <link rel="stylesheet" href="{% static 'css/style_conf_cadastro.css' %}"> {% endblock %}    
  
  
  {% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main">
          <h2 class="sub-header">Confirmar Cadastro de Professor</h2>
          
          <form class="form-horizontal">

              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Nome do Professor</label>
                <div class="col-sm-10">
                  <p class="form-control-static">Professor 1</p>
                </div>
              </div>

              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Matricula</label>
                <div class="col-sm-10">
                  <p class="form-control-static">0000000000</p>
                </div>
              </div>


              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Cursos</label>
                <div class="col-sm-10">
                  <p class="form-control-static">Curso 2</p>
                  <p class="form-control-static">Curso 4</p>
                </div>
              </div>

              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Disciplinas</label>
                <div class="col-sm-10">
                  <p class="form-control-static">Disciplina 5</p>
                  <p class="form-control-static">Disciplina 6</p>
                  <p class="form-control-static">Disciplina 7</p>
                </div>
              </div>

              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Período</label>
                <div class="col-sm-10">
                  <p class="form-control-static">Período 1</p>
                  <p class="form-control-static">Período 2</p>
                  <p class="form-control-static">Período 3</p>
                </div>
              </div>

              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Turma</label>
                <div class="col-sm-10">
                  <p class="form-control-static">Turma B</p>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <a class="btn btn-default" href="#" role="button">Salvar</a>
                  <a class="btn btn-default" href="#" role="button">Editar</a>
                  <a class="btn btn-default" href="#" role="button">Limpar tudo</a>
                </div>
              </div>           
          </form>
      </div>
  {% endblock %}