{% extends 'envelope/base.html' %}
{% load staticfiles %}

  {% block title %} <title>Detalhes</title> {% endblock %}
  
  {% block css %} <link rel="stylesheet" href="{% static 'css/style_details.css' %}"> {% endblock %}    
  
  {% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main">
        <h2 class="sub-header">Detalhes do Envelope</h2>
          
        <form class="form-horizontal">

            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Nome do Professor</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{ envelope.professor.nome}}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Matricula</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{ envelope.professor.matricula}}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Curso</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{ envelope.curso.nome}}</p>
              </div>
            </div>
            
            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Turma</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{ envelope.curso.turma}}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Disciplina</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{ envelope.disciplina.nome}}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Período</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{ envelope.disciplina.periodo}}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Data da Prova</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{ envelope.prova.data_prova}}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Data Limite para Entrega</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{ envelope.prova.data_limite }}</p>
              </div>
            </div>  

            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Data da Entrega</label>
              <div class="col-sm-10">
                <p class="form-control-static">{{ envelope.prova.data_devolucao }}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Status</label>
              <div class="col-sm-10">
                <p class="form-control-static" id="status_red">Não entregue</p>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-default" href="{% url 'envelope.views.index' %}" role="button">Voltar</a>
              </div>
            </div>
        </form>
      </div>
{% endblock %}