{% extends 'envelope/base.html' %}
{% load staticfiles %}

  {% block title %} <title>Devolução</title> {% endblock %}
  
  {% block css %} <link rel="stylesheet" href="{% static 'css/style_dev.css' %}"> {% endblock %}    
    
  {% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header">Gerenciar Envelopes</h2>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Professor</th>
              <th>Curso</th>
              <th>Período</th>
              <th>Disciplina</th>
              <th>Data da Prova</th>
              <th>Data Limite</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Nome do Professor</td>
              <td>Nome do Curso</td>
              <td>P1</td>
              <td>Nome da Discipina</td>
              <td>28/03/2016</td>
              <td>07/04/2016</td>
              <td>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bs-example-modal-sm">Pendente</button>

                <!-- inicio da modal-->
                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Alterar Status</h4>
                      </div>
                      <div class="modal-body">
                        <p>Deseja alterar o status deste envelope para Entregue?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-default">Alterar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- fim da modal-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <a class="btn btn-default" href="#" role="button">Salvar</a>
        <a class="btn btn-default" href="#" role="button">Voltar</a>  
      </div>
    </div>
  {% endblock %}