{% extends 'envelope/base.html' %}
{% load staticfiles %}

  {% block title %} <title>Editar Envelope</title> {% endblock %}
  
  {% block css %} <link rel="stylesheet" href="{% static 'css/style_editar.css' %}"> {% endblock %}    
    
  {% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main">
          <h2 class="sub-header">Editar Envelope</h2>
          
        <form class="form-horizontal">
           
            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Professor</label>
              <div class="col-sm-10">
                <select class="form-control">
                  {% for professor in professores %}
                      <option value = "{{professor.professor_id}}" 
                      {% if professor.professor_id == envelope.professor.professor_id %} selected="selected" {% endif %} >{{professor.nome}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form-group">
            <label for="text" class="col-sm-2 control-label">Curso</label>
            <div class="col-sm-10">
              <select class="form-control" name="id_curso">
                {% for curso in cursos %}
                    <option value = "{{curso.curso_id}}"
                    {% if curso.curso_id == envelope.curso.curso_id %} selected="selected" {% endif %} >{{curso.nome}}</option>
                {% endfor %}
              </select>
            </div>
            </div>
            
            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Turma</label>
              <div class="col-sm-10">
                <select class="form-control">
                  <option {% if envelope.curso.turma == NULL %} 
                  selected="selected" {% endif %} value = "">-------</option>
                
                  <option {% if envelope.curso.turma == "A" %} 
                  selected="selected" {% endif %} value = "A">A</option>
                
                  <option {% if envelope.curso.turma == "B" %} 
                  selected="selected" {% endif %} value = "B">B</option>
                </select>
              </div>
            </div>
            
            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Disciplina</label>
              <div class="col-sm-9">
                <select class="form-control" name ="id_disciplina">
                  {% for disciplina in disciplinas %}
                      <option value='{{disciplina.disciplina_id}}' 
                      {% if disciplina.disciplina_id == envelope.disciplina.disciplina_id %} selected="selected" {% endif %}>{{disciplina.nome}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Período</label>
              <div class="col-sm-9">
                <select class="form-control" name ="periodo">
                  <option value="1"
                  {% if "1" == envelope.disciplina.periodo %} selected="selected" {% endif %}>1º Período</option>
                  <option value="2"
                  {% if "2" == envelope.disciplina.periodo %} selected="selected" {% endif %}>2º Período</option>
                  <option value="3"
                  {% if "3" == envelope.disciplina.periodo %} selected="selected" {% endif %}>3º Período</option>
                  <option value="4"
                  {% if "4" == envelope.disciplina.periodo %} selected="selected" {% endif %}>4º Período</option>
                  <option value="5"
                  {% if "5" == envelope.disciplina.periodo %} selected="selected" {% endif %}>5º Período</option>
                  <option value="6"
                  {% if "6" == envelope.disciplina.periodo %} selected="selected" {% endif %}>6º Período</option>
                  <option value="7"
                  {% if "7" == envelope.disciplina.periodo %} selected="selected" {% endif %}>7º Período</option>
                  <option value="8"
                  {% if "8" == envelope.disciplina.periodo %} selected="selected" {% endif %}>8º Período</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Estágio</label>
              <div class="col-sm-10">
                <select class="form-control" name ="estagio">
                  <option value="1"
                  {% if "1" == envelope.prova.estagio %} selected="selected" {% endif %}>1º Estágio</option>
                  <option value="2"
                  {% if "2" == envelope.prova.estagio %} selected="selected" {% endif %}>2º Estágio</option>
                  <option value="3"
                  {% if "3" == envelope.prova.estagio %} selected="selected" {% endif %}>3º Estágio</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Data da Prova</label>
              <div class="col-sm-4">
                <input value = "{{envelope.prova.data_prova}}" class="form-control" id="date" name="date" placeholder="DD/MM/AAAA" type="date"/>
              </div>
            </div>

            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Data Limite</label>
              <div class="col-sm-4">
                <input class="form-control" id="date" name="date" placeholder="DD/MM/AAAA" type="date"/>
              </div>
            </div>

            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Data de Entrega</label>
              <div class="col-sm-4">
                <input class="form-control" id="disabledInput" name="date" placeholder="DD/MM/AAAA" type="date" disabled>
              </div>
              <input type="checkbox"/>
            </div>
            
      
            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-default" href="#" role="button">Salvar</a>
                

                <!-- Small modal -->
                <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm">Excluir</button>

                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Excluir Envelope</h4>
                      </div>
                      <div class="modal-body">
                        <p>Tem certeza que deseja excluir este envelope?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">OK</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </form> 
        </div>
 {% endblock %}