{% extends 'envelope/base.html' %}
{% load staticfiles %}

  {% block title %} <title>Envelope</title> {% endblock %}
  {% block css %} <link rel="stylesheet" href="{% static 'css/style_envelope.css' %}"> {% endblock %}
    
  {% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main">
        <h2 class="sub-header">Inserir Novo Envelope</h2>
        
        <form class="form-horizontal" method="post">
        {% csrf_token %}   
          {% if messages %}
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          {% endif %}
            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Professor</label>
              <div class="col-sm-10">
                <select class="form-control" name="id_professor">
                  <option value='0'>--------</option>
                  {% for professor in professores %}
                        <option value = "{{professor.professor_id}}">{{professor.nome}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Curso</label>
              <div class="col-sm-10">
                <select class="form-control" name="id_curso">
                  <option value='0'>--------</option>
                  {% for curso in cursos %}
                      <option value = "{{curso.curso_id}}">{{curso.nome}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {% for field in cursoForm %}
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label">{{ field.label_tag }}</label>
                <div class="col-sm-10">
                  {{ field }}
                </div>
            </div>
            {% endfor %}
            
            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Disciplina</label>
              <div class="col-sm-10">
                <select class="form-control" name="id_disciplina">
                  <option value='0'>--------</option>
                  {% for disciplina in disciplinas %}
                      <option value='{{disciplina.disciplina_id}}'>{{disciplina.nome}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            
            {% for field in disciplinaForm %}
            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">{{ field.label_tag }}</label>
              <div class="col-sm-10">
                {{ field }}
              </div>
            </div>
            {% endfor %}
            
            {% for field in provaForm %}
            <div class="form-group">
              <label for="text" class="col-sm-2 control-label">{{ field.label_tag}}</label>
              <div class="col-sm-10">
                {{ field }}
                {% if field.errors %}
                <ul class="errorlist">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>
            {% endfor %}
            
            
          
            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button id='enviar' type="submit" class="btn btn-default" role="button">Inserir</button>
                <a href="{% url 'envelope.views.envelope' %}" class="btn btn-default" role="button">Limpar Tudo</a>
                <a class="btn btn-default" href="#" role="button">Excluir</a>
              </div>
            </div>
        </form> 
    </div>
   {% endblock %}
   
   {% block jquery%}
     <script src="{% static 'js/jquery-1.8.2.js' %}"></script>
      <script src="{% static 'js/jquery-ui.js' %}"></script>
      <script>
        $(function() {
            $( "#id_data_prova" ).datepicker({
                showOn: "button",
                buttonImage: "{% static 'images/Calendar.png' %}",
                buttonImageOnly: true,
                showButtonPanel:true,
                dateFormat: 'yy-mm-dd',
                showOtherMonths: true,
                selectOtherMonths: true,
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
                dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
            });
        });
        
        $(function() {
            $( "#id_data_limite" ).datepicker({
                showOn: "button",
                buttonImage: "{% static 'images/Calendar.png' %}",
                buttonImageOnly: true,
                showButtonPanel:true,
                dateFormat: 'yy-mm-dd',
                showOtherMonths: true,
                selectOtherMonths: true,
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
                dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
            });
        });
      </script>
   {% endblock %}