{% extends 'envelope/base.html' %}
{% load staticfiles %}

    {% block title %} <title>Gerar Relatório</title> {% endblock %}
	  {% block css %} <link rel="stylesheet" href="{% static 'css/style_gerar_relatorio.css' %}"> {% endblock %}

      
      <!-- ORDENAR POR ESTAGIO,STATUS, ESTAGIO E STATUS E NULL -->
      {% block content %}
      <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main">
          <h2 class="sub-header">Gerar Relatório</h2>
          
          
          <form class="form-horizontal" method="POST">
          {% csrf_token %}   
              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Estágio</label>
                <div class="col-sm-10">
                  <select class="form-control" name ="estagio">
                    <option value=''>--------</option>
                    <option value='1'>1º Estágio</option>
                    <option value='2'>2º Estágio</option>
                    <option value='3'>3º Estágio</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Status</label>
                <div class="col-sm-10">
                  <select class="form-control" name="status">
                    <option value=''>--------</option>
                    <option value='1'>Entregue</option>
                    <option value='2'>Entregue Atrasado</option>
                    <option value='3'>Pendente</option>
                    <option value='4'>Atrasado</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" role="button">  Gerar Relatório</button>
                    <!--<a href="{% url 'envelope.views.relatorio'  %}">Gerar Relatório</a></button>-->
                  <button type="submit" class="btn btn-default" role="button">Limpar Tudo</button>
                </div>
              </div>
          </form> 
      </div>
  {% endblock %}