{% extends 'envelope/base.html' %}
{% load staticfiles %}

  {% block title %} <title>Gerenciar Status</title> {% endblock %}
  
  {% block css %} <link rel="stylesheet" href="{% static 'css/style_relatorio.css' %}"> {% endblock %}    
    
  {% block content %}
	 <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main">
          <h2 class="sub-header">Gerenciar Status</h2>
          <ul>
            <h4>Pesquisar Envelope</h4>
          </ul>
          
          <form class="form-horizontal">

              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Professor</label>
                <div class="col-sm-10">
                  <select class="form-control" name="id_professor">
                    <option value=''>--------</option>
                    {% for professor in professores %}
                        <option value='{{professor.professor_id}}'>{{professor.nome}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Curso</label>
                <div class="col-sm-10">
                  <select class="form-control" name="id_curso">
                    <option value=''>--------</option>
                    {% for curso in cursos %}
                        <option value='{{curso.curso_id}}'>{{curso.nome}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              
              {% for field in cursoForm %}
              <div class="form-group">
                  <label for="text" class="col-sm-2 control-label">{{ field.label_tag }}</label>
                  <div class="col-sm-10" >
                    {{ field }}
                  </div>
              </div>
              {% endfor %}

              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Disciplina</label>
                <div class="col-sm-10">
                  <select class="form-control" name="id_disciplina">
                    <option value=''>--------</option>
                    {% for disciplina in disciplinas %}
                        <option value='{{disciplina.disciplina_id}}'>{{disciplina.nome}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              {% for field in disciplinaForm %}
              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">{{ field.label_tag }}</label>
                <div class="col-sm-10">
                  {{ field }}
                  
                  {% if field.errors %}
                  <ul class="errorlist">
                      {% for error in field.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              </div>
              {% endfor %}

              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Estágio</label>
                <div class="col-sm-10">
                  <select class="form-control" name="estagio">
                    <option value=''>--------</option>
                    <option value='1'>1º Estágio</option>
                    <option value='2'>2º Estágio</option>
                    <option value='3'>3º Estágio</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Status</label>
                <div class="col-sm-10">
                  <select class="form-control" name="status">
                    <option value=''>--------</option>
                    <option value='1'>Entregue</option>
                    <option value='2'>Entregue Atrasado</option>
                    <option value='3'>Pendente</option>
                    <option value='4'>Atrasado</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" role="button">Pesquisar</button>
                  <button type="redefine" class="btn btn-default" role="button">Limpar Tudo</button>
                </div>
              </div>
          </form> 
      </div>
     {% endblock %}