{% extends 'envelope/base.html' %}
{% load staticfiles %}

  {% block title %} <title>Menu</title> {% endblock %}
  
  {% block css %} <link rel="stylesheet" href="{% static 'css/style_index.css' %}"> {% endblock %}    
    
  {% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header">Envelopes Recentes</h2>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          {% if messages %}
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          {% endif %}
          <thead>
            <tr>
              <th>Professor</th>
              <th>Curso</th>
              <th>Período</th>
              <th>Disciplina</th>
              <th>Data da Prova</th>
              <th>Status</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            {% for envelope in envelopes %}
            <tr>
                <td>{{ envelope.professor.nome }}</td>
                <td>{{ envelope.curso.nome }}</td>
                <td>{{ envelope.disciplina.periodo }}</td>
                <td>{{ envelope.disciplina.nome }}</td>
                <td>{{ envelope.prova.data_prova }}</td>
                <td> 
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bs-example-modal-sm">{{envelope.prova.status}}</button>

                    <!-- inicio da modal-->
                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Alterar Status</h4>
                          </div>
                          <div class="modal-body">
                            <p>Deseja alterar o status deste envelope?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-default">Alterar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- fim da modal-->
                </td>
                <td>
                  <button type="submit" class="btn btn-default btn-sm">
                   <a href="{% url 'envelope.views.details' envelope.envelope_id %}" title="Detalhes">
                     <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> 
                  </button> 
                  <button type="button" class="btn btn-default btn-sm">
                   <a href="{% url 'envelope.views.editar_env' envelope.envelope_id %}" title="Editar">
                     <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> 
                  </button> 
                </td>
            </tr>
            {% endfor %}  
          </tbody>
        </table>
      </div>
    </div>
  {% endblock %}