{% extends 'envelope/base.html' %}
{% load staticfiles %}

  {% block title %} <title>Gerenciar Status</title> {% endblock %}
  
  {% block css %} <link rel="stylesheet" href="{% static 'css/style_listastatus.css' %}"> {% endblock %}    
    
  {% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header">Gerenciar Status</h2>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Professor</th>
              <th>Curso</th>
              <th>Período</th>
              <th>Disciplina</th>
              <th>Status</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Nome do Professor</td>
              <td>Nome do Curso</td>
              <td>P1</td>
              <td>Nome da Discipina</td>
              <td id="entregue">Entregue</td>
              <td>
                <button type="button" class="btn btn-default btn-sm">
                 <a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> 
                </button> 
                <button type="button" class="btn btn-default btn-sm">
                 <a href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> 
                </button> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <a class="btn btn-default" href="#" role="button">Voltar</a>
      </div>
    </div>
  {% endblock %}