{% load staticfiles %}
<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<meta character="utf-8">	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <<link rel="icon" href="{% static 'images/logo_unipe.png' %}">

	<title>Entrar</title>
	
	<!--chamando bootstrap-->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!--chamando stylesheet-->
	<link rel="stylesheet" href="{% static 'css/style_login.css' %}">


</head>

<body>
	<div class="navbar-wrapper">
    	<div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top">
		  		<div class="container">
		    		<div class="navbar-header">

					<!--marca/nome do projeto-->
					<a class="navbar-brand col-md-offset-1" href="#"><img src="{% static 'images/logo.png' %}" </a>
				</div>

					<ul class="nav navbar-nav navbar-right">
              			<li><a href="../navbar-fixed-top/"></a></li>
            		</ul>
            		

				</div><!--nav collapse-->
		  	</div>
			</nav>
		</div>
	</div>

	 <div class="container">

      <form class="form-signin" method="post">
      	      	{% csrf_token %}
        {{ form.non_field_errors }}
        <h3 class="form-signin-heading">Controle de Envelopes de Prova</h3>
        
         {% for field in form %}
	        <div class="form-group">
	          {{ field.label_tag }} 
	         {{field}}
	          {{ field.errors }}
	        </div> 
        {% endfor %}


        
         <button class="btn btn-default" type="submit">Acessar</button>
        <div class="forgotPassword">
        </div>
      </form>

    </div> <!-- /container -->
	    

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!--chamando o js-->
	<script src={% static 'js/bootstrap.js' %}></script>
</body>
</html>