{% extends 'envelope/base.html' %}
{% load staticfiles %}


  {% block title %} <title>Menu</title> {% endblock %}
  
  {% block css %} <link rel="stylesheet" href="{% static 'css/style_relatorio.css' %}"> {% endblock %}

  {% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">Relatório</h2>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Professor</th>
                  <th>Curso</th>
                  <th>Período</th>
                  <th>Disciplina</th>
                  <th>Data da Prova</th>
                  <th>Data Limite</th>
                  <th>Data da Entrega</th>
                  <th>Status</th>
                </tr>
              </thead>
              {% for field in cursoForm %}
              <tbody>
                <td>{{ envelope.professor.nome }}</td>
                <td>{{ envelope.curso.nome }}</td>
                <td>{{ envelope.disciplina.periodo }}</td>
                <td>{{ envelope.disciplina.nome }}</td>
                <td>{{ envelope.prova.data_prova }}</td>
                <td>{{ envelope.prova.data_limite }}</td>
                <td>{{ envelope.prova.data_devolucao }}</td>
              </tbody>
              {% endfor %}
            </table>
          </div>
          <div>
            <a class="btn btn-default" href="#" role="button">Voltar</a>
            <a class="btn btn-default" href="#" role="button">Imprimir Relatório</a>
          </div>
        </div>
  {% endblock %}